<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <title>Learning Materialize</title>
</head>
<body>

  <div class="navbar-fixed">
    <nav class="nav-wrapper grey darken-4">
      <div class="container">
        <a href="#top" class="brand-logo">Portfolio</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#about">About</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="https://drive.google.com/file/d/1VhKH_4c3VfyocOqv5P5UUyr1bRrMltDm/view" class="btn grey darken-1 white-text">Resume</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-links">
    <li><a href="#about">About</a></li>
    <li><a href="#gallery">Gallery</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

  <!-- Top banner -->
  <div class="row" style="background-color: #9e9e9e;">
      <div class="col s6 left-align hide-on-med-and-down">
        <img class="hide-on-med-and-down" src="\images\thinker2.jpg" alt="thinker" style='object-fit: contain; display: block; margin-left: auto; margin-right: auto;'>
      </div>

     
      <div class="col s12 m12 l6 " style="text-align: center; padding:20px;">
        <h1 style="font-size: 7rem; object-fit: contain; display: block; margin-left: auto; margin-right: auto;">Timothy McCabe</h1>      
        <p style="font-size: 2rem; text-align: center;">Software Engineer, Web Developer, Leader, Visionary . . .</p>
      </div>
    </div>  
  
  <div class="container">
    <div>
      <!-- About Section -->
      <a name="about"></a>
      <h1>About Tim</h1>
    </div>

    <div class="row" style="background-color:whitesmoke; margin: 20px;">
      <div class="col s12 m12 l6">
        <div style="padding-left: 20px">
          <h4>Education</h4>
          <div style="padding-left: 20px;">
            <h4>New England Tech - BS Software Engineering 2021</h4>
            <p>Timothy is currently in his senior year at New England Institute of Technology. He is currently studying Software engineering. He has experience with many open source web development technologies, such as Bootstrap and Materialize.</p>
            <h4>New England Tech - AS Information Technology 2020</h4>
            <p>Tim has recieved his associates of science degree in information technology. He is comfortable with networking fundamentals, Linux System administration </p>
          </div>

          <h4>Certifications</h4>
          <div>
            <h5 style="padding-left: 20px;">Test Out Client Pro - March 2019</h5>
          </div>
        </div>   
      </div>
      
      <div class="col s12 m12 l6">
        <div style="padding: 30px">
          <img class="responsive-img" src="\images\neit.jpg" alt="new england tech" style='object-fit: contain; display: block; margin-left: auto; margin-right: auto;'>
        </div>
      </div>
    </div>

    <div class="row" style="background-color:whitesmoke; margin: 20px;">
          <div class="col s12 m12 l5">
            <div style="padding-left: 20px; margin: auto;">
            <h2>Work Experience</h2>
              <div style="padding-left: 20px;">
                <h4>General Dynamics - 2020 Summer Internship</h4>
                <p>While working for General Dynamics Timothy utilized Python scripts to analyze datasets for use in future Machine Learning applications. He then combined results from subsequent analyses into reports using Microsoft Excel to be used to judge the potential value of given datasets.</p>
              </div>
            </div>
          </div>

          <div class="col s12 m12 l7">
            <div style="padding: 30px">
              <img class="responsive-img" src="\images\eb.jpg" alt="new england tech" style='object-fit: contain; display: block; margin-left: auto; margin-right: auto;'>
            </div>
          </div>
      </div>

    <!-- Example Works Section -->
    <h1>Example Works</h1>
    <div class="row">

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/tipton.jpg">
            <span class="card-title" style="color: grey;">Hotel Reservation Website</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">Check it out</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/portfolio.jpg">
            <span class="card-title" style="color: grey;">Tim's Portfolio Website (Bootstrap)</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#" >Check it out</a>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="images/movies.jpg">
            <span class="card-title" style="color: grey;">Movie Library Website</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">Check it out</a>
          </div>
        </div>
      </div>

    </div>

    <a name="contact"></a>

    <div class="row">
      <h5 style="text-align: center;">Contact me</h5>
      <a href="https://www.linkedin.com/in/timothy-mccabe-b36629197/" class="s12 btn btn-block" target="_blank">Connect with me on LinkedIn</a>
      <a href="mailto: tim.james.mccabe@gmail.com" class="s12 btn btn-block green" target="_blank">Send me an Email</a>

    </div>

  </div>
  </div>
  
  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
  </script>
</body>
</html>